html{
  font-size:17px;
}
a{
  text-decoration: none;
}
.content-wrap{
  display: flex;
  flex-direction:row;
  padding-left: 256px;
}
@media(max-width:760px){
  .content-wrap{
    flex-direction:column;
  }
}
.bkg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.content-header{
  background: rgb(83, 112, 190);
  flex-shrink: 0;
  height: 80px;
  display: flex;
  justify-content:space-between;
  padding: 0 10px;
  align-items: center;
  color:rgb(255, 255, 255);
}
.xx{
  display: flex;
  align-items: center;
}
.content-header .fa-angle-left{
  font-size: 26px;
}
.content-header .left{
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: '微软雅黑';
}
.content-header .right{
  font-size: 20px;
}
.content-header h1{
  margin: 0;
}
.content-footer{
  flex-shrink: 0;
  background: rgb(224, 216, 103);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-footer a{
  text-align: center;
  color: white;
  flex-grow: 1;
  border-right: 1px white solid;
  font-size: 24px;
}
.content-footer a:last-child{
  border: none;
}
.content-main{
  flex-grow: 1;
  display: flex;
}
.content-leftnav{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  padding-bottom: 20px;
  background: #70A3FF;
}
.content-leftnav h2{
  margin-top: 0px;
}
.content-leftnav a{
  padding: 10px 15px;
  display: flex;
  font-size: 2em;
  text-decoration: none;
  color: rgb(218, 223, 227);
}
.content-leftnav a:hover{
  background: rgba(83, 112, 190, 0.5);
}

.home-container{
  height: 100vh;
  background-image: url(../images/下载.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-grow: 1;
  position: relative;
  color: white;
}
.mengban{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  color:white;
}
@media(max-width:760px){
  .content-wrap{
    flex-direction:column;
  }
}

.wordcard-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;;
  align-items: center;
}
.cardmedia{
  width: 32%;
}
